@tailwind base;
@tailwind components;
@tailwind utilities;

.max_width{
  max-width: 1200px;
  margin: auto;
}

.scroolbar-none::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem
  }
}
