@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination-bullet {
  background-color: white !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  @apply bg-primary_green !important;
}

@layer base {
  :root {
    --radius: 0.5rem
  }
}
